@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:#000426 ;
}

.card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card span{
    position: absolute;
    top:0;
    width: 250px;
    height: 250px;
    display: block;
    background-color: #000;
    border-radius:50%;
    transform-origin: 125px 0;
    transform: rotate(calc(90deg * var(--i)));
    filter: blur(80px); 
    opacity: 0.75;
}

.card span:nth-child(1){
    background: #01b2fe;
}
.card span:nth-child(2){
    background: #ff008c;
}
.card span:nth-child(3){
    background: #ffcd00;
}
.card span:nth-child(4){
    background: #00c456;
}

.card .glass{
    position: absolute;
    width: 450px;
    height: 300px;
    background: rgba(255,255,255,0.5);
    border-radius: 20px;
    border: 1px solid #fff;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.card .glass::before{
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.2);
    pointer-events: none;
    transform: skewX(345deg);
}

.card .glass h2{
 padding: 20px;
 font-weight: 400;
 width: 100%;
 background: rgba(255,255,255,0.2);
 color: #333;
 text-align: end;
}

.card .glass h2 i{
    font-weight: 300;
    font-size:  0.75em;
    font-style: normal;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}



.logoThom{
    position: absolute;
    top:350px;
    left:750px;
}

/* bouton css */

.containerBouttonAcceuil{
    position: absolute;
    top:750px;
    left:610px;
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.containerBouttonAcceuil .button{
    position: relative;
    width: 500px;
    height: 75px;
    margin: 20px;
}

.containerBouttonAcceuil .button a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,0.05);
    box-shadow: 0 15px 35px rgba(255,255,255,0.1);
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-radius: 30px;
    color: #fff;
    z-index: 1;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(15px);
}

.containerBouttonAcceuil .button:hover a{
    letter-spacing: 3px;
}

.containerBouttonAcceuil .button a::before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255,255,255,0.15), transparent);
    transform: skewX(45deg) translateX(0);
    transition: 0.5s
}

.containerBouttonAcceuil .button:hover a::before{
    transform: skewX(45deg) translateX(200%);
}

.containerBouttonAcceuil .button::before{
    content: '';
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    bottom:-5px;
    width:30px;
    height: 10px;
    background: #01b2fe;
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0s;
}

.containerBouttonAcceuil .button:hover::before{
    bottom: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.5s;
}

.containerBouttonAcceuil .button::after{
    content: '';
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    top:-5px;
    width:30px;
    height: 10px;
    background: #01b2fe;
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0s;
}

.containerBouttonAcceuil .button:hover::after{
    top: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.5s;
}

.containerBouttonAcceuil .button::before,
.containerBouttonAcceuil .button::after{
    box-shadow: 0 0 5px #01b2fe,
    0 0 15px #01b2fe,
    0 0 30px #01b2fe,
    0 0 60px #01b2fe;
}

@media only screen and (max-width: 850px) {
    .card span{
        width: 125px;
    height: 125px;
    }

    .card .glass{
        width: 225px;
        height: 150px;
    }
    .logoThom{
        display: none;
    }

    .containerBouttonAcceuil{
        position: absolute;
        top:500px;
        left:30px;
        width: 300px;
        height: 100px;
        text-align: center;

    }
    
}