:root{
    --clr-neutral-900: hsl(207,19%, 9%);
    --clr-neutral-100: hsl(0,0%,100%);
    --clr-accent-400: hsl(209,90%,61%);
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    line-height: 1.6;
    background: #000426;
    font-family: sans-serif;
    display: grid;
}

.sectionReal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding:20px;
    width: 100%;
    background: #000426;
}

.containerReal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    z-index: 1000;
    width: 100%;
    max-width: 2000px;
    padding:50px;
    background: rgba(255,255,255,0.1);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    border-right: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-radius: 10px;
    overflow: hidden;
    backdrop-filter: blur(25px);
}

.card span{
    position: absolute;
    top:550px;
    left:800px;
    width: 250px;
    height: 250px;
    display: block;
    background-color: #000;
    border-radius:50%;
    transform-origin: 125px 0;
    transform: rotate(calc(90deg * var(--i)));
    filter: blur(80px); 
    opacity: 0.75;
}

.card span:nth-child(1){
    background: #01b2fe;
}
.card span:nth-child(2){
    background: #ff008c;
}
.card span:nth-child(3){
    background: #ffcd00;
}
.card span:nth-child(4){
    background: #00c456;
}


.cardProject{
    color: var(--clr-neutral-100);
    background: gainsboro;
    background-size: cover;
    padding: 10rem 0 0;
    max-width: 35ch;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: transform 500ms ease;
}

.cardProject:hover{
    transform: scale(1.05);
}



.cardContent{
    --padding: 1.5rem;
    padding: var(--padding);
    background: linear-gradient(
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 0.2),
    hsl(0 0% 0% / 1)
    );

transform: translateY(60%);
transition: transform 500ms ease;
transition-delay: 500ms;
}

.cardProject:hover .cardContent{
    transform: translateY(0);
}

.cardContent > *:not(.projectTitle) {
    opacity: 0;
    transition: opacity 500ms linear;
}

.cardProject .cardContent > *:not(.projectTitle){
    opacity : 1;
}
.projectTitle{
    position: relative;
    width: max-content;
    max-width: 100%;
}

.projectTitle::after{
    content: '';
    position: absolute;
    height: 4px;
    width: calc(100% + var(--padding));
    left:calc(var(--padding) * -1);
    bottom: -2px;
    background: var(--clr-accent-400);
    transform:scaleX(0);
    transform-origin: left;
    transition: transform 500ms ease;
}

.cardProject:hover .projectTitle::after{
    transform: scaleX(1);
}

.projectDesc{
    color: rgb(255 255 255/ 0.85);
}

.button{
    cursor:pointer;
    display: inline;
    text-decoration: none;
    color: var(--clr-neutral-900);
    background-color: var(--clr-accent-400);
    padding: 0.5em 1.25em;
    border-radius: 0.25em;
}

.button:hover,
.button:focus{
    background-color: var(--clr-neutral-100);
}

/* nav */
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    background: #000426;
    position: absolute;
    bottom:80px;
    left:400px;
    right: 400px;
}

ul{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow:  0 5px 25px rgba(0,0,0,0.25);
}
ul li {
    list-style: none;
}

ul li a{
    color: #fff;
    position: relative;
    text-decoration: none;
    display: inline-block;
    padding: 20px 30px;
    z-index: 1000;
    backdrop-filter: blur(15px);
}

ul li a ion-icon{
    font-size: 2.5em;
    opacity: 0.25;
    transition: 0.25s;
    pointer-events: none;
}

ul li.active a ion-icon{
    opacity: 1;
}

#marker{
    position: absolute;
    top:0;
    transition: 0.5s;
    z-index: 1;
}

#marker::before{
    content:'';
    position: absolute;
    top:-10px;
    left:50%;
    transform: translateX(-50%);
    width: 50px;
    height: 40px;
    border-radius: 8px;
    background: #5da6ff;
    
}

ul li:nth-child(1).active ~ #marker::before{
    background: #5da6ff;
    box-shadow: 0 0 15px #5da6ff, 0 0 30px #5da6ff, 0 0 45px #5da6ff, 0 0 60px #5da6ff;
}
ul li:nth-child(2).active ~ #marker::before{
    background: #ff0;
    box-shadow: 0 0 15px #ff0, 0 0 30px #ff0, 0 0 45px #ff0, 0 0 60px #ff0;
}
ul li:nth-child(3).active ~ #marker::before{
    background: #0f0;
    box-shadow: 0 0 15px #0f0, 0 0 30px #0f0, 0 0 45px #0f0, 0 0 60px #0f0;
}
ul li:nth-child(4).active ~ #marker::before{
    background: #df2fff;
    box-shadow: 0 0 15px #df2fff, 0 0 30px #df2fff, 0 0 45px #df2fff, 0 0 60px #df2fff;
}
ul li:nth-child(5).active ~ #marker::before{
    background: #ff308f;
    box-shadow: 0 0 15px #ff308f, 0 0 30px #ff308f, 0 0 45px #ff308f, 0 0 60px #ff308f;
}


h2{
    color:white;
    z-index: 25;
}